#content{

    .fix_text_area{

        table{
            width: 100%;
            margin: 50px 0;

            td{
                padding: 20px 5px;

                &:first-child{
                    text-align: center;
                }
            }

        }
    }

}