#content{
    .menu_list{

        table{
            width: 100%;
            border: 1px solid #ccc;
            margin: 40px 0;

            thead{
                td{
                    text-align: center;
                    padding: 5px;
                    background: #efede4;
                    &:not(:last-child){
                        border-right: 1px solid #ccc;
                    }
               }
            }

            tbody{
                td{
                    padding: 5px;
                    height: 35px;
                    border-top: 1px solid #ccc;
                    &:not(:last-child){
                        border-right: 1px solid #ccc;
                    }

                    &.dt_title{
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        max-width: 0;
                    }

                    &:not(.dt_title){
                        text-align: center;
                    }
                }
            }
        }

        .button_area{
            text-align: center;
            a{
                text-decoration: none;
                padding: 10px 20px;
                border: 1px solid #ccc;
                border-radius: 3px;
                color:#373737;

                &:hover{
                    opacity: 0.5;
                }
            }
        }
    }

    .shop_info{

        table{
            width: 100%;
            border: 1px solid #ccc;
            margin: 40px 0;

            tbody{
                tr{
                    td{
                        padding: 5px;
                        height: 35px;
                        &:not(:last-child){
                            border-right: 1px solid #ccc;
                            background: #efede4;
                            text-align: center;
                        }
    
                        &:last-child{
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            max-width: 0;
                        }
                    }

                    &:not(:last-child){
                        td{
                            border-bottom: 1px solid #ccc;
                        }
                    }
                }
            }
        }

        .button_area{
            text-align: center;
            a{
                text-decoration: none;
                padding: 10px 20px;
                border: 1px solid #ccc;
                border-radius: 3px;
                color:#373737;

                &:hover{
                    opacity: 0.5;
                }
            }
        }
    }

    .ticket_list{

        table{
            width: 100%;
            border: 1px solid #ccc;
            margin: 40px 0 5px;

            thead{
                td{
                    text-align: center;
                    padding: 5px;
                    background: #efede4;
                    &:not(:last-child){
                        border-right: 1px solid #ccc;
                    }
               }
            }

            tbody{
                td{
                    padding: 5px;
                    height: 35px;
                    border-top: 1px solid #ccc;
                    text-align: center;
                    &:not(:last-child){
                        border-right: 1px solid #ccc;
                    }

                }
            }
        }

        .any_count{
            text-align: right;
            margin-bottom: 40px;
        }

        .button_area{
            text-align: center;
            a{
                text-decoration: none;
                padding: 10px 20px;
                border: 1px solid #ccc;
                border-radius: 3px;
                color:#373737;

                &:hover{
                    opacity: 0.5;
                }
            }
        }
    }
}
