body {
    #content {
        padding: 30px 0px 40px;

        #map {
            height: 75%;
            width: 100%;

            //地図の種類選択などのボタン
            .gm-style-mtc,
            .gm-svpc,
            .gm-control-active{
                display: none;
            }
        }
    }
}