video{
    margin: 20px auto 10px;
}

textarea,canvas{
    height: 0;
}

.ticket_confirm_modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    
    .modal__bg{
        background: rgba(0,0,0,0.8);
        height: 100vh;
        position: absolute;
        width: 100%;
    }

    .modal_contents{
        height: 150px;
        width: 80%;
        margin: 0 auto;
        position: relative;
        background: #FFF;
        padding: 30px 20px 10px;
        font-size: 14px;
        border-radius: 7px;
        top: 30%;

        .confirm_button{
            position: relative;
            top: 50px;
            text-align: right;
            right: 10px;

            .ticket_use{
                padding: 5px 30px;
                color: #FFF;
                background: #FF0000;
                border: 1px solid #FF0000;
                border-radius: 10px;
                margin-right: 5px;
            }

            .ticket_cancel{
                padding: 5px 12px;
                color: #FF0000;
                background: #FFF;
                border: 1px solid #FF0000;
                border-radius: 10px;
            }
        }
    }
    
}
//modal--end
